app:
    name: go-mongo-auth
    env: prod
    description: JWT authentication using gin-gonic and mongoDB.
    base-path: /api/v1
    version: '1.0'

server:
    port: 8080
    wait-time: 10s

jwt:
    signing-key: ${SECRET_KEY}
    auth:
        expiry: ${TOKEN_EXPIRY}

mongo:
    uri: ${MONGO_URI}
    database: ${DATABASE_NAME}
    timeout: ${CONNECTION_TIMEOUT}
    context-timeout: ${CONTEXT_TIMEOUT}